@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

main{
    background-color: white;
    display: block;
}

html{
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

img.logo{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}

img.output-image{
    width: 60%;
    margin: 4rem auto;
}

div.output{
    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
    width: 400px;
    height: 600px;
    border-radius: 32px;
    margin: 0px 40px 40px 50px;
    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

div.container{
    background-color: #E5E5E5;
    width: 724px;
    height: 560px;
    display: block;
    text-align: center;
    float: left;
    margin: 40px 50px;
}

button{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    border-color: #0A3871;
    border-width: 1px;
    cursor: pointer;
}

button.en{
    background-color: #0A3871;
    color: white;
}

button.des{
    background-color: #D8DFE8;
}

button.copiar{
    background-color: white;
    display: none;
}

h2{
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
    padding: 20px;
}

p.description{
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

textarea{
    border: none;
    resize: none;
    background-color: #E5E5E5;
    font-size: 60px;
    outline: none;
    padding: 50px;
}

footer{
    margin-top: -28px;
}